.main{
	background-color:grey;
	padding:40px;
	
}
.main img.one{
	width:100px;
	margin-left:30px;
	display:inline;
}
.main h1{
	float:right;
	margin-right:700px;
	margin-top:10px;
	color:white;
	font-style:oblique;
}
.nav{
	background-color:lightgrey;
	padding:10px 0px;
	
}

.nav ul{
	list-style:none;

}
.nav li{			
	display:inline;
	padding:30px;
	font-size:20px;
	font-family:"arial";
	margin-top:10px;
}
.wifi{
	display:flex;
	width:-10px;
}

.word img.two{
	padding:10px 9px;
	display:inline;
}
.f h2{ 	
	font-size:30px;
	font-style:oblique;
}
.f p{
	color:red;
	font-size:30px;
	font-family:"arial";
}
.f i{
	font-size:20px;
	font-family:helvetica;	
}
.g{
	display:inline;

}
.y{
	display:inline-block;
	padding:20px 20px;
	width:400px;
}
.t b{
	font-size:30px;
	font-style:oblique;
}
.t h3{
	color:red;
	font-size:30px;
	font-family:"arial";
}
.h i{
	font-size:20px;
	font-family:helvetica;
}
.a{
	display:inline-block;
	padding:20px 20px;
	width:400px;
}
.e{
	display:inline;
}
.them h2{
	font-size:40px;
	color:deeppink;
	font-family:sans-serif;
}
.them i{
	font-size:30px;
	color:deeppink;
	line-height:60px;
}
.them h1{
	font-size:40px;
	font-family:cambria;
	color:deeppink;
	line-height:100px;
}
.them p{
	font-size:30px;
	font-family:helvetica;
	line-height:50px;





}



















}